.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: Aquamarine;
}

.form input {
  width: 300px;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  padding-left: 10px;
  
}


.form button {
  width: 320px;
  margin-top: 10px;
  height: 30px;
  background-color: blanchedalmond;
}

.form button:hover {
  cursor: pointer;
}